# Terraform

**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Python

__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.env

# Docker

.dockerignore

# VSCode

.vscode/

# OS

.DS_Store

# Logs

*.log